@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
* {
	margin: 0;
	font-family:'Open Sans', sans-serif;
	box-sizing:border-box;
}

html {
	min-height:100%;
}

body {
	background: #333;
	font-size:1.5em;
}

body {
	 display: flex;
	 min-height: 100vh;
	 flex-direction: column;
 }

 .container {
	 flex: 1 0 auto;
 }

.container {
	width:98%;
	background:#fff;
  margin: 0 auto;
	padding:1em 0.5em;
	min-height:100%;
}

h1 {
	display:block;
	background:#333;
	color:#fff;
	padding:0.25em;
	margin-bottom:0.25em;
}

h1 a {
	text-decoration: none;
	color: #fff;
}

.intro p {
	padding:0.5em;
}

.intro {
	margin:0;
}

select.dropdown {
	height:40px;
	width:250px;
	margin-left:1em;
	font-size:0.8em;
}

.label {
	color:#fff;
	padding:0.25em;
	display:inline-block;
}

.caption {
	font-weight:normal;
	font-size:0.8em;
	display:block;
}

#pop {
	color:#9A3F7A;
	border-bottom:2px solid #9A3F7A;
}

#pop .label {
	background:#9A3F7A;
}

#budget {
	color:#38863C;
	border-bottom:2px solid #38863C;
}

#budget .label {
	background:#38863C;
}

#visits {
	color:#007B7C;
	border-bottom:2px solid #007B7C;
}

#visits .label {
	background:#007B7C;
	margin-top:0.5em;
}

#circ {
	color:#E57D38;
	border-bottom:2px solid #E57D38;
}

#circ .label {
	background:#E57D38;
}

#illReceived, #illProvided {
	color:#135078;
	border-bottom:2px solid #135078;
}

#illReceived .label, #illProvided .label {
	background:#135078;
}

#computers {
	color:#333;
	border-bottom:2px solid #333;
}

#computers .label {
	background:#333;
}

#internet {
	color:#87B146;
	border-bottom:2px solid #87B146;
}

#internet .label {
	background:#87B146;
}

#programTotal {
	color:#036277;
	/* border-bottom:2px solid #036277; */
}

#programTotal .label {
	background:#036277;
	margin-top:0.5em;
}

#programChildren {
	color:#685CA2;
	/* border-bottom:2px solid #685CA2; */
}

#programChildren .label {
	background:#685CA2;
}

#programTeen {
	color:#C83944;
	/* border-bottom:2px solid #C83944; */
}

#programTeen .label {
	background:#C83944;
}

#programAdult {
	color:#E57D38;
	/* border-bottom:2px solid #E57D38; */
}

#programAdult .label {
	background:#E57D38;
}

#programChildren > div, div#programTeen, div#programAdult {
	margin:0;
}

div {
	margin:1.5em 0;
	padding:0.5em;
}

div.subprograms {
	margin-left:2em;
	border-left:4px solid #036277;
	margin-top:0;
}

div#programTotal {
	margin-bottom:-2em;
}

.left {
	float:left;
	width:25%;
	font-weight:bold;
}

.right {
	float:right;
	width:74%;
}

.clear {
	clear:both;
}

.fa:hover {
	opacity:0.8;
}

a.go {
	background:#036277;
	color:#fff;
	text-decoration:none;
	padding:0.5em;
}

a.go:hover {
	background:#0295b5;
}

.footer {
	font-weight:bold;
	margin:1em;
	color:#fff;
}

@media screen and (max-width:800px) {
	.left, .right {
		display:inline-block;
		width:100%;
	}
}
