{% extends "layout.html.twig" %}

{% block content %}
      <p class="intro">Every year, every public library in Massachusetts spends a great deal of time gathering statistical data on everything from the number of books checked in and out, the number of people who attend library programs, the number of parking spaces reserved for patrons, the educational levels of staff, salaries, the amount of time spent assistant patrons under the age of 12, the number of wifi sessions in a year.<br/><br/>
      We submit our responses to the Massachusetts Board of Library Commissioners – the state agency responsible for improving library services throughout the Commonwealth. The MBLC compiles the responses from the nearly 400 public libraries in Massachusetts and makes the data publicly available.</p>
      <p class="intro"><a href="/library/Arlington" class="go">Choose your library <i class="fa fa-chevron-circle-right"></i></a></p>
{% endblock %}
