{% extends "layout.html.twig" %}

{% block content %}
    <h1>Welcome to the public library data visualizer!</h1>

    <p><a href="/library/Boston - Boston Public Library">Boston - Boston Public Library</a></p>

    <p><a href="/library/Brookline - Brookline Public Library">Brookline - Brookline Public Library</a></p>
{% endblock %}
