{% extends "layout.html.twig" %}

{% block content %}
<div class="intro">
  <p>PubLibData lets librarians quickly and easily generate reports to help assess performance, guide future action, and communicate value. Selected metrics, based on standards from the federal <a href="http://imls.gov">Institute of Museum and Library Services</a> and the <a href="http://lj.libraryjournal.com/2014/11/managing-libraries/lj-index/class-of-2014/americas-star-libraries-2014-top-rated-libraries/"><em>Library Journal</em> Index of Public Library Services</a>, include circulation, interlibrary loan, program attendance, and computer use.</p>
  <p>This data is annually reported to the <a href="http://mblc.state.ma.us/">Massachusetts Board of Library Commissioners</a> for certification in the <a href="http://mblc.state.ma.us/grants/state_aid/index.php">State Aid to Public Libraries Program</a>.<p>
</div>
{% endblock %}
