<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Public Library Data Visualizer</title>

        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />

        <meta charset="UTF-8">

        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div class="container">
            <h1><a href="/">PubLibData</a></h1>
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript" src="/js/plots.js"></script>
        <style type="text/css">
            svg g.scale line {
                stroke-width: 1;
                stroke: #ccc;
            }

            svg g.context line {
                stroke-width: 1;
                stroke: #565656;
            }

            svg g.highlight line {
                stroke-width: 3;
                stroke: red;
            }
        </style>
    </body>
</html>
