{% extends "layout.html.twig" %}

{% block content %}
      <h2>{{ id }}</h2>
      <div id="pop">
        <div class="left">
          <p><i class="fa fa-home fa-4x"></i><br/>
            <span class="label">Population</span>
            <span class="caption">Based on 2010 census data</span>
          </p>
        </div><!-- end .left -->
        <div class="right">
        </div><!-- end .right -->
        <br class="clear">
      </div><!-- end #pop -->

      <div id="budget">
        <div class="left">
          <p><i class="fa fa-money fa-4x"></i><br/>
            <span class="label">Budget</span>
            <span class="caption">Salaries and operating</span>
          </p>
        </div><!-- end .left -->
        <div class="right">
        </div><!-- end .right -->
        <br class="clear">
      </div><!-- end #visits -->

      <div id="visits">
        <div class="left">
          <p><i class="fa fa-bank fa-4x"></i><br/>
            <span class="label">Visits</span>
            <span class="caption">Includes main location and branches (if applicable)</span>
          </p>
        </div><!-- end .left -->
        <div class="right">
        </div><!-- end .right -->
        <br class="clear">
      </div><!-- end #visits -->

      <div id="circ">
        <div class="left">
          <p><i class="fa fa-book fa-4x"></i><br/>
            <span class="label">Circulation</span>
            <span class="caption">Direct/over the counter circulation of all items to library users</span>
          </p>
        </div><!-- end .left -->
        <div class="right">
        </div><!-- end .right -->
        <br class="clear">
      </div><!-- end #circ -->

      <div id="illReceived">
        <div class="left">
          <p><i class="fa fa-truck fa-4x"></i><br/>
            <span class="label">Interlibrary Loans<br/>Received</span>
            <span class="caption">Total number of interlibrary loans (ILLs) received from other libraries</span>
          </p>
        </div><!-- end .left -->
        <div class="right">
        </div><!-- end .right -->
        <br class="clear">
      </div><!-- end #illReceived -->

      <div id="illProvided">
        <div class="left">
          <p><i class="fa fa-truck fa-4x fa-flip-horizontal"></i><br/>
            <span class="label">Interlibrary Loans<br/> Provided</span>
            <span class="caption">Total number of ILLs provided to other libraries</span>
          </p>
        </div><!-- end .left -->
        <div class="right">
        </div><!-- end .right -->
        <br class="clear">
      </div><!-- end #illProvided -->

      <div id="illScatter">
        <div class="left">
        </div>
        <div class="right">
        </div>
        <br class="clear">
      </div><!-- end #illScatter

      <div id="computers">
        <div class="left">
          <p><i class="fa fa-desktop fa-4x"></i><br/>
            <span class="label">Number of<br/>Computers Available</span>
            <span class="caption">Public desktop stations with internet access</span>
          </p>
        </div><!-- end .left -->
        <div class="right">
        </div><!-- end .right -->
        <br class="clear">
      </div><!-- end #computers -->

      <div id="internet">
        <div class="left">
          <p><i class="fa fa-signal fa-4x"></i><br/>
            <span class="label">Number of<br/>Internet Users</span>
            <span class="caption">Users of public desktop stations with internet access in the library</span>
          </p>
        </div><!-- end .left -->
        <div class="right">
        </div><!-- end .right -->
        <br class="clear">
      </div><!-- end #internet -->

      <div id="programTotal">
        <div class="left">
          <p><i class="fa fa-group fa-4x"></i><br/>
            <span class="label">Program Attendance<br/>(Total)</span>
            <span class="caption">Total attendance of programs for all audience groups</span>
          </p>
        </div><!-- end .left -->
        <div class="right">
        </div><!-- end .right -->
        <br class="clear">
      </div><!-- end #programTotal -->

      <div id="programChildren">
        <div class="left">
          <p><i class="fa fa-user fa-3x"></i>&nbsp;<i class="fa fa-bug fa-lg"></i><br/>
            <span class="label">Programs for Children</span>
            <span class="caption">&nbsp;</span>
          </div><!-- end .left -->
          <div class="right">
          </div><!-- end .right -->
          <br class="clear">
        </div><!-- end #programChildren -->

        <div id="programTeen">
          <div class="left">
            <p><i class="fa fa-user fa-3x"></i>&nbsp;<i class="fa fa-angellist fa-lg"></i><br/>
              <span class="label">Programs for Teens</span>
              <span class="caption">&nbsp;</span>
            </div><!-- end .left -->
            <div class="right">
            </div><!-- end .right -->
            <br class="clear">
          </div><!-- end #programTeen -->

          <div id="programAdult">
            <div class="left">
              <p><i class="fa fa-user fa-3x"></i>&nbsp;<i class="fa fa-paint-brush fa-lg"></i><br/>
                <span class="label">Programs for Adults</span>
                <span class="caption">&nbsp;</span>
              </p>
            </div><!-- end .left -->
            <div class="right">
            </div><!-- end .right -->
            <br class="clear">
          </div><!-- end #programAdult -->
          
{% endblock %}
